.bg_image{
    background: url(../svg/Glavnaya.svg) no-repeat center/cover;
    width: 100%;
    height: 359px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_image>h1,.aboutTexts>h1{
    color: #0D99FF;
    font-size: 70px;
    font-weight: 500;
}
.aboutTexts{
    text-align: center; 
}
.importantTexts strong{
    color: #0D99FF;
}
.importantTexts{
    line-height:50px;
    font-size: 30px;
}